__pycache__

# IDE files
.idea/
*.pyc
.vscode/

# Virtual environments
venv/
solar_estimation_env/

# Images
*.jpg
*.jpeg
*.png
*.heif

# Tranings
data/checkpoints/
*.pt
*.pth

calibration.yml
*.pdf

notes_training.txt

Thumbs.db
